/* google font links */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.font-noto {
  font-family: "Noto Serif", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
/* common css start  */

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-centre {
  justify-content: center;
}

.item-centre {
  align-items: center;
}

.item-end {
  align-items: end;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.full-container {
  margin: 0 auto;
}

section {
  margin-bottom: 120px;
}

header {
  margin: 60px 0;
}

.text-black {
  color: black;
}
.text-white {
  color: #fff;
}
.text-black-haf {
  color: rgba(0, 0, 0, 0.5);
}

.text-dark {
  color: #111111;
}

.text-dark-blue {
  color: #252432;
}

.text-light-blue {
  color: #8987a1;
}

.text-color {
  color: #e95a08;
}

.common-tittle {
  text-align: center;
  margin: 0 auto;
}

.common-tittle-heading {
  font-size: 3.125rem;
  font-weight: 600;
}
.common-tittle-sub {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  max-width: 888px;
  margin: 0 auto;
}

/* --- */

/* nav css  */
.nav-parents {
  padding: 30px 0;
}

.nav-item {
  list-style: none;
  margin-left: 46px;
  font-size: 1rem;
  font-weight: 400;
}

/* banner section css */

.banner-section img {
  width: 100%;
}

.banner-left {
  max-width: 600px;
}

.banner-tittle {
  font-size: 4rem;
  font-weight: 800;
}

.banner-sub {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
}

/* plant-card section css */
.plant-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px 0 0;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card img {
  width: 100%;
}

.card-tittle {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 30px;
}
.card-price {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px 0 30px;
}
.card-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  background: #e95a08;
  border: none;
  padding: 26px;
}

/*  seller information section css */

.seller-image {
  position: relative;
  width: 45%;
}

.flower-store {
  width: 100%;
}

.badge {
  width: 50%;
  position: absolute;
  right: -150px;
  top: -150px;
  /* transform: translateX(150%) translateY(-50%); */
}
.badge {
}
.seller-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.seller-info-heading {
  font-size: 3.125rem;
  font-weight: 600;
}
.seller-info-item {
  margin-left: 25px;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
}

/* latest deal css */

.deal-card img {
  width: 100%;
  height: 100%;
}

.card-common-css {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
}
.small-image-one {
  grid-area: a;
}
.small-image-two {
  grid-area: b;
}
.big-image {
  grid-area: c;
}
.deal-card {
  margin-top: 80px;
  gap: 30px;
  display: grid;
  grid-template:
    "a c c"
    "b c c";
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #0000006e;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.bloom-ann-tittle {
  font-size: 1.4rem;
  font-weight: 600;
}

.zabo-tittle {
  font-size: 2.5rem;
  font-weight: 600;
}

.shop_btn {
  text-decoration: underline;
  margin-top: 15px;
}

/* news-subscribe css */

.news-subscribe {
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.news-overlay {
  padding: 200px 0;
}

.news-heading {
  font-size: 3.125rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.news-overlay input {
  padding: 8px 20px;
  width: 644px;
  font-size: 1rem;
  font-weight: 400;
  background: #fff;
  height: 50px;
  border: none;
}

.news-overlay button {
  background: #e95a08;
  border: none;
  width: 185px;
  height: 50px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

/* footer css */
footer {
  margin: 50px 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 32px;
  color: #6b7280;
  font-size: 1rem;
  font-weight: 400;
}
.footer-logo {
  width: 24%;
}

.logo-details {
  font-size: 1.35rem;
  margin-top: 15px;
}

.footer-social {
  width: 25%;
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* hover & Animation */

.rotate {
  animation: rotation 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.text-hover {
  transition: 0.3s;
  cursor: pointer;
}

.text-hover:hover {
  color: #e95a08;
}

.btn-hover {
  transition: 0.3s;
  cursor: pointer;
}

.btn-hover:hover {
  background: #833609e3;
}
/* responsive css */
/* tablet device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 0 40px;
  }
  section {
    padding: 0 40px;
  }
  .hidden {
    display: none;
  }

  .banner-left {
    max-width: 300px;
  }
  .banner-tittle {
    font-size: 2.5rem;
  }
  .seller-info-heading {
    font-size: 1.8rem;
  }
  .seller-info-item {
    font-size: 1rem;
  }
}

/* mobile device */

@media screen and (max-width: 576px) {
  /* nav css */

  header {
    padding: 0 20px;
  }

  section {
    margin: 40px 0;
    padding: 0 20px;
  }

  .common-tittle-heading {
    font-size: 1.5rem;
  }
  .common-tittle-sub {
    font-size: 0.9rem;
  }

  .hidden {
    display: none;
  }

  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-tittle {
    font-size: 1.8rem;
    margin-top: 30px;
  }

  .banner-sub {
    font-size: 0.9rem;
  }

  .plant-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-tittle {
    font-size: 1rem;
    margin-top: 10px;
  }
  .card-price {
    font-size: 1rem;
    margin: 10px 0 20px;
  }
  .card-btn {
    font-size: 1rem;
    padding: 15px;
  }

  .seller-info-section {
    flex-direction: column;
  }

  .seller-image {
    width: 100%;
  }
  .seller-info {
    width: 100%;
  }
  .seller-info-heading {
    font-size: 1.6rem;
  }
  .seller-info-item {
    font-size: 0.9rem;
  }
  .deal-card {
    grid-template:
      "a a a"
      "b b b"
      "c c c";
  }

  .deal-card h2 {
    font-size: 1.5rem;
  }
  .deal-card a {
    font-size: 1rem;
  }

  .news-overlay input {
    width: 250px;
  }
  .news-overlay button {
    width: 100px;
  }

  .news-heading {
    font-size: 1.25rem;
  }

  footer {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
}
